# Ignore node_modules
node_modules/

# Ignore macOS system files
.DS_Store

assets/characters/*
!assets/characters/CuteCat/Character01/
!assets/characters/CuteCat/Character02/
!assets/characters/CutePenguin/Character01/
!assets/characters/CutePenguin/Character02/

dist/